[submodule "allonect/libfreenect"]
	path = allonect/libfreenect
    url = https://github.com/OpenKinect/libfreenect.git
[submodule "allolithe/Lithe"]
	path = allolithe/Lithe
	url = git@github.com:akshay1992/Lithe
